/* Marquee Text Component Styles */

.marquee-text-container {
    display: flex;
    align-items: center;
}

.marquee-text-move {
    display: flex;
    background-color: transparent;
}

.marquee-text-marquee {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 3vw;
    transform: translateX(-100%);
}

.marquee-text-marquee h1 {
    font-size: 6vw;
    color: #f4efe7;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    line-height: 1.1;
}
